a {
	outline: none;
	color: #cb655e;
	transition: 0.2s ease-in-out;
	&:hover {
		color: #e4726a;
		transition: 0.2s ease-in-out;
	}
}

.common-conditions {
	padding-top: 50px; 
	text-shadow: 2px 1px #fff;
	font-size: 2rem;
	@include breakpoint (sm) {
		padding-top: 200px;
		font-size: 3.5rem;
	}
}
.important-message {
	width: 100%;
	min-height: 50px;
	background-color: #cb655e;
	padding-top: 0.6rem;
}
.dropdown-menu.columns-2 {
	min-width: 620px;
}
.multi-column-dropdown {
	list-style: none;
  	margin: 0px;
  	padding: 0px;
}
@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}
.home-hero {
	text-shadow: 1px 1px #fff;
	position: relative;
	min-height: 500px;
	width: 100%;
	background-color: #ccc;
	background-image: url('../../../../uploads/2020/11/livingston-front.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 25%;
}
.about-livingston {
	width: 100%;
	min-height: 200px;
	background: #d0e6ff;
}
.tagline {
	text-align: center;
	text-shadow: 3px 3px #000;
	position: relative;
	@include breakpoint (xs) {
		margin-top: 200px;
	}
	@include breakpoint (sm) {
		position: absolute;
		bottom: 0;
		margin-bottom: 15px;
		right: 0;
		margin-right: 15px;
		float: right;
		text-shadow: 3px 3px #000;
	}
}
.injured {
	min-height: 200px;
	background-color: #fff;
	width: 100%;
}
.below-knee {
	font-size: 3.3rem;
	color: #facd62;
}
.btn-blue {
	background: #d0e6ff;
	transition: 0.4s ease-in-out;
	&:hover {
		background: #add3ff;
	}
}
.choice {
	width: 100%;
	min-height: 200px;
	background: #b0b0b0;
	@include breakpoint (sm) {
		background-image: url('../../../../uploads/2020/10/ankle.png');
		background-repeat: no-repeat;
		background-position: right;
		background-size: 50%;
	}
	@include breakpoint (md) {
		background-image: url('../../../../uploads/2020/10/ankle.png');
		background-repeat: no-repeat;
		background-position: right;
		background-size: contain;
	}
}
.office {
	width: 100%;
	min-height: 200px;
	background: #d0e6ff;
	background-image: url('../../../../uploads/2020/10/bi-color-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.whats-new {
	background: #fff;
	padding: 55px;
}
.footer {
	background: #fff;
	width: 100%;
	min-height: 200px;
}
.main-nav {
	margin-top: 10px;
	@include breakpoint (sm) {
		margin-top: 80px;
	}
	@include breakpoint (md) {
		margin-top: 80px;
	}
}
.nav--logo {
	margin-top: 2px;
	@include breakpoint (sm) {
		margin-top: 10px;
	}
	@include breakpoint (md) {
		margin-top: 0px;
	}
	@include breakpoint (lg) {
		margin-top: 2px;
	}
}
.page-title {
	border-bottom: 3px solid #cb655e;
	margin-bottom: 20px;
	padding-bottom: 10px;
	width: 100%;
}
.pg-feat-img {
	width: 100%;
	min-height: 145px;
	display: block;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
	@include breakpoint (sm) {
		background-size: cover;
		min-height: 500px;
	}
}